.titre{
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
}

.beneviento{
    text-align: center;

}

.soluce{
   display: none;
   text-align: center;
}

.spoil{
    text-align: center;
}
.spoil:hover{
    cursor: pointer;
}

.spoil:hover .soluce{
    display: block;
}

.image img{
    position:absolute;
    width: 300px;
    right: 50px;
}