

.titre{
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
}

.dimitrescu{
    text-align: center;

}

.fonction{
    text-align: center;
}

.apparence{
    text-align: center;
}

.charactère{
    text-align: center;
}

.histoire{
    text-align: center;
}

.comp{
    text-align: center;
}

.faiblesse{
    text-align: center;
}

.soluce{
    text-align: center;
}