.titre{
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
}

.dimitrescu{
    text-align: center;

}

<<<<<<< HEAD
=======
.bebe{
    text-align: center;

}


.soluce{
   text-align: center;
}

.spoil{
    text-align: center;
}
.spoil:active{
    cursor: pointer;
}

.none{
    display: none;
    }

.image img{
    position:absolute;
    width: 300px;
    right: 50px;
}
>>>>>>> f10dca238f79c6eb45fd074e05e39c8c9279a94a
