.titre{
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
}

.fusil{
    text-align: center;

}

.tab{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.image img{
    text-align: center;
    width: 1050px;
}