.image_de_fond_accueil{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    margin: auto;
}
.barredubas{
    width:100rem;
    background-color:#807877;
    position: ;
    padding: 0.1rem 0rem 0rem 0rem;
    display: flex;
    bottom: 0px;
}
.logo_village img{
    width:20rem;
}
.logo_village{
    padding: 30rem 0 5rem 0;
    margin:0rem 0rem 0rem 0rem;
    align-items: center;
    animation-duration: 2s;
    animation-name:glissade; 
}
.boutonmenu{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    height: 3rem;
    margin: 0rem 0rem 0rem 0rem;
    border-radius: 10px;
    animation-duration: 1s;
    animation-name: cascade;
    text-align: center;
    border-top: 1px solid #666783;
    border-bottom: 1px solid white;
    
}

.sousmenuarme{
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 2rem;
    height: 3.2rem;
    margin: 0rem 0rem 0rem 0rem;
    animation-duration: 0.7s;
    animation-name:cascade;
    text-align:center;
    border-radius: 10px;
    /*border-bottom:1px solid white ;*/
    
    
}

.texte{
    text-align: center;
    color: white;
    padding: 0rem 0rem 0rem 0rem;
    text-decoration :none;
}
.textearme{
    text-align: center;
    color: white;
    padding: 0rem 10rem 0rem 0rem;
    text-decoration: none;
}

.menu{
    width: 10rem;                       
    border: #666783 solid 1px;
    margin:0rem 0rem 0rem 0rem;
    border-radius:18px;    
    position: fixed;
    top:0px;
    left:0%;
}
p{
    color: white;
}
.menu >p {
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.5rem 0rem 0rem 0rem;
    

}
.menu:hover p{
    /*0margin:0rem 0rem 0rem 0rem;*/
    /*background-color: black;*/
}


.conteneurmenu{
    border-radius:18px;
    display:none;
    margin: 0rem 0rem 9rem 0rem;
    height:3.2rem;
    width:40rem;
    
    
}
.sousmenu{
    border-radius:18px;
    right: 79%;
    position: fixed;
    
}
.arme{ 
    display:none;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    height: 3rem;
    margin: 0rem 0rem 0rem 0rem;
    animation-duration: 1s;
    animation-name:cascade;
    text-align: center;
    border-top:1px solid #666783;
}

.sousmenuarme:hover .arme {
    display:block;
}

.menu:hover .conteneurmenu {
    display:block;
    margin: 0rem 0rem 0rem 0rem;
}
.boutonmenu:hover{
    transition: all 2s;
    background-color: #88918a;
    
    
}

.sousmenuarme:hover{
    transition: all 2s;
    
}

.arme:hover{
    transition: all 2s;
    background-color: #88918a;
}

.icone{
    margin:0rem 1rem 0rem 0rem;
}
.premiericone{
    margin: auto 1rem auto 43rem;
}

@keyframes glissade {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes cascade {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 0%;
    }
  }
  .dropdown{
      color:#59544b;
      margin: 0rem 0rem 0rem 0rem;
  }
#gros_rectangle{
    width: 100rem;
    height:25rem;
    background-color:black;
    display:flex;
    justify-content:center;
    
    }
.logo_anniv {
    display: flex;
    justify-content:right;
    margin-top: 15rem;
    margin-left:5rem;
}
.image_acueil > img{
    width: 20rem ;
    margin:auto;
    margin-right:2rem ;
    box-shadow: grey;
}
.ligne_rouge{
    width: 100rem;
    height: 0.5rem;
    background-color: #910d18;
}

.conteneur_video{
    padding: 2rem 10rem 0rem 10rem;
    display:flex;
    justify-content:space-between;
}

.petite_ligne_rouge{
    width: 2rem;
    height: 0.3rem;
    background-color: #910d18;
  
}
.cadre{
    margin:5rem 0rem 5rem 15rem;
    display: flex;
    width: 30rem;
    height: 15rem;
    position: relative;
}
h1{
    color: white;
}
.img_cadre{
    width: 35rem;
    height: 15rem;
    overflow: hidden;
    border:1rem solid black;
    border-radius: 5rem;
}
.fin_de_page{
    display:flex;

}
.titre-cadre{
    position: absolute;
    top: 35%;
    bottom:70%;
    left:15%;
    margin: 0px;
}
.titre-cadre > h1{
    left:5%;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0rem;
}
img:hover{
    opacity: 0.8;
    border-radius:10px solid black;
    transition: opacity 0.8s;
}
.texte-cadre{
    position: absolute;
    top:85%;
    left:30%;
    
}
.texte-cadre > p{
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
}
.cadres{
    display: flex;
    width: 100rem;
    overflow: hidden;
    margin: 0px;
}
.image img{
    text-align: center;
    width: 1050px;
}
.tab{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.fond_arme_poing{
    margin-top:0px;
    background-image:url(../img/fond/grave.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    
}
.text_wiki{
    color: white;
}
.navigation{
    margin-top: 12rem;
    width:10rem;
    height: fit-content;
    position: fixed;
    border: 1px solid white;
    border-radius: 25px;
    left:1%;
    top:35%
    
}
.navigation > p:hover{
    animation-name: grossir;
    animation-duration: 1s;

}
.navigation > a {
    text-decoration: none;
    color:#910d18;
}

@keyframes grossir {
    from {
        margin-top: 12rem;
        margin-left: auto;
      
    }
  
    to {
      margin-top: 13rem;
      margin-left:3rem;    
    }
}
a{
    text-decoration: none;
    color: black;
}
.fond_fusil{
    margin-top:0px;
    background-image:url(../img/fond/field.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    
}
.fond_magnum{
    margin-top:0px;
    background-image:url(../img/fond/field.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
}
.fond_magnum > img {
    text-align: center;
    width: 1050px;
}
.fond_fusil_assaut{
    margin-top:0px;
    background-image:url(../img/fond/mountain.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
}
.fond_sniper{
    margin-top:0px;
    background-image:url(../img/fond/v.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
}
.fond_sniper{
    color: white;
}
.fond_lance_grenade{
    margin-top:0px;
    background-image:url(../img/fond/rondpoint.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
}
.fond_dimitrescu{
    margin-top:0px;
    background-image:url(../img/fond/winecave.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
   
}
.fond_dimitrescu > .menu{
    position: fixed;
}

.soluce{
    display: none;
    text-align: center;
 }
 
.spoil{
    text-align: center;
    
    
 }
 .spoil > a{
     color: white;
 }
.spoil:hover{
    cursor: pointer;
    
}

.spoil:hover .soluce{
    display: block;
}

.image_boss img{
   position:absolute;
   width: 300px;
   right: 50px;
 }
.text_wiki_boss{
    color:white
    
}
.fond_texte{
    width:fit-content;
    background:rgba(0, 0, 0, 0.5);
}

.fond_heinserberg{
    background-image:url(../img/fond/reunion.png) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:0px;
}
.soluce img{
    width: 900px;
    
}