.titre{
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
}

.vampire{
    text-align: center;
    width: 100rem;

}

.image img{
    position:absolute;
    width: 450px;
    right: 75px;
}
.rectangle_wiki{
    width: 25rem;
    height: 50rem;
    background-color: black;
    position: absolute;
    left: 75%;
    top:25%;
}
body{
    background-image: ;
}